modules = ["web", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]

[[workflows.workflow]]
name = "Dev Backend"
author = 41005063
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm run dev"

[[workflows.workflow]]
name = "Dev Frontend"
author = 41005063
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && ng serve --host 0.0.0.0 --port 4200"
