
<div class="modal-header">
  <h4 class="modal-title">Confirmar Compra</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('close')"></button>
</div>
<div class="modal-body text-center">
  <div *ngIf="!showQrCode">
    <h5>{{ ticket.eventName }}</h5>
    <p class="mb-1"><i class="bi bi-calendar-event me-2"></i>{{ ticket.eventDate | date:'dd/MM/yyyy' }}</p>
    <p class="mb-3"><i class="bi bi-currency-dollar me-2"></i>{{ ticket.price | currency:'BRL' }}</p>
    <p class="text-muted">Você tem {{ formatTime(remainingTime) }} para concluir a compra</p>
    <button class="btn btn-primary" (click)="generateQrCode()">
      Gerar QR Code
    </button>
  </div>
  
  <div *ngIf="showQrCode" class="qr-code-container">
    <img [src]="qrCodeUrl" alt="QR Code do Ingresso" class="img-fluid mb-3">
    <p class="text-muted">Tempo restante: {{ formatTime(remainingTime) }}</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('close')">Fechar</button>
</div>
